# Eclipse
.classpath
.project
.settings/
target-eclipse/

# Intellij
.idea/
*.iml
*.iws

*.log
*.zip
*.sha1
.DS_Store
plugin.xml
target
build
classes
.gradle
web-app/WEB-INF/tld
grails-app/conf/ApplicationResources.groovy
grails-app/conf/BootStrap.groovy
grails-app/conf/spring/
grails-app/views/error.gsp
grails-app/views/index.gsp
