<plugin name='joda-time' version='0.5.1-SNAPSHOT' grailsVersion='1.1 &gt; *'>
  <author>Rob Fletcher</author>
  <authorEmail>rob@energizedwork.com</authorEmail>
  <title>Joda-Time Plugin</title>
  <description>\
The Joda-Time Plugin integrates the &lt;a href="http://joda-time.sourceforge.net/"&gt;Joda Time&lt;/a&gt; date/time library into
Grails. The plugin provides:
&lt;ul&gt;
&lt;li&gt;Libraries necessary to use Joda Time types as persistent fields on domain classes.&lt;/li&gt;
&lt;li&gt;The ability to bind from form inputs to Joda Time fields on domain or command objects.&lt;/li&gt;
&lt;li&gt;JSON and XML rendering of Joda Time types.&lt;/li&gt;
&lt;li&gt;Tag-libs for input and output of Joda Time data.&lt;/li&gt;
&lt;li&gt;Enhancements to Grails scaffolding to support domain classes with Joda Time fields.&lt;/li&gt;
&lt;li&gt;Compatibility and consistency methods added to Joda Time types.&lt;/li&gt;
&lt;/ul&gt;
</description>
  <documentation>http://grails.org/JodaTime+Plugin</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>com.energizedwork.grails.plugins.jodatime.DateTimeTagLib</resource>
    <resource>com.energizedwork.grails.plugins.jodatime.DateTimeZoneTagLib</resource>
    <resource>com.energizedwork.grails.plugins.jodatime.FormattingTagLib</resource>
    <resource>com.energizedwork.grails.plugins.jodatime.PeriodTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='core' version='1.1 &gt; *' />
    <plugin name='converters' version='1.1 &gt; *' />
  </dependencies>
  <behavior />
</plugin>